WattsALoanClient/Connected Services/WattsALoanServiceReference/WattsALoanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WattsALoanService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WattsALoanService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingZIPCide" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>