WattsALoanClient/Connected Services/WattsALoanServiceReference/WattsALoanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WattsALoanService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WattsALoanService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourlySalary" type="xs:float" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingZIPCide" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="LoanType">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanType" nillable="true" type="tns:LoanType" />
  <xs:complexType name="ArrayOfLoanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanType" nillable="true" type="tns:LoanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanType" nillable="true" type="tns:ArrayOfLoanType" />
  <xs:complexType name="LoanAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DatePrepared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:double" />
      <xs:element minOccurs="0" name="LoanAllocationID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:double" />
      <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Periods" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanAllocation" nillable="true" type="tns:LoanAllocation" />
  <xs:complexType name="ArrayOfLoanAllocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanAllocation" nillable="true" type="tns:LoanAllocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanAllocation" nillable="true" type="tns:ArrayOfLoanAllocation" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanAllocationID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
</xs:schema>