WattsALoanClient/Connected Services/WattsALoanServiceReference/WattsALoanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WattsALoanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/WattsALoanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/WattsALoanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/WattsALoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WattsALoanService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWattsALoanService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoan" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoanResponse" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertLoanAllocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoanAllocation" />
  </wsdl:message>
  <wsdl:message name="IWattsALoanService_InsertLoanAllocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoanAllocationResponse" />
  </wsdl:message>
  <wsdl:portType name="IWattsALoanService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/GetData" message="tns:IWattsALoanService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/GetDataResponse" message="tns:IWattsALoanService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/GetDataUsingDataContract" message="tns:IWattsALoanService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/GetDataUsingDataContractResponse" message="tns:IWattsALoanService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/InsertEmployee" message="tns:IWattsALoanService_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/InsertEmployeeResponse" message="tns:IWattsALoanService_InsertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/DeleteEmployee" message="tns:IWattsALoanService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/DeleteEmployeeResponse" message="tns:IWattsALoanService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/UpdateEmployee" message="tns:IWattsALoanService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/UpdateEmployeeResponse" message="tns:IWattsALoanService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/InsertCustomer" message="tns:IWattsALoanService_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/InsertCustomerResponse" message="tns:IWattsALoanService_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLoan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/InsertLoan" message="tns:IWattsALoanService_InsertLoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/InsertLoanResponse" message="tns:IWattsALoanService_InsertLoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLoanAllocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWattsALoanService/InsertLoanAllocation" message="tns:IWattsALoanService_InsertLoanAllocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWattsALoanService/InsertLoanAllocationResponse" message="tns:IWattsALoanService_InsertLoanAllocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWattsALoanService" type="tns:IWattsALoanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLoan">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/InsertLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLoanAllocation">
      <soap:operation soapAction="http://tempuri.org/IWattsALoanService/InsertLoanAllocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WattsALoanService">
    <wsdl:port name="BasicHttpBinding_IWattsALoanService" binding="tns:BasicHttpBinding_IWattsALoanService">
      <soap:address location="http://localhost:8080/WattsALoanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>